#{extends 'main.html' /}
#{set title: 'Posts tagged with ' + tag /}

*{********* Title ******** }*

#{if posts.size() > 1}
    <h3>There are ${posts.size()} posts tagged '${tag}'</h3>
#{/if}
#{elseif posts}
    <h3>There is 1 post tagged '${tag}'</h3>
#{/elseif}
#{else}
    <h3>No post tagged '${tag}'</h3>
#{/else}

*{******** Posts list *********}*

<div class="older-posts">
    #{list items:posts, as:'post'}
        #{display post:post, as:'teaser' /}
    #{/list}
</div>